/* 

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
 .Toastify__toast--success {
  background: #e6fffa;
  color: #065f46;
  border: 1px solid #34d399;
}

.Toastify__toast--error {
  background: #fee2e2;
  color: #991b1b;
  border: 1px solid #f87171;
}

.Toastify__toast--warning {
  background: #fef9c3;
  color: #92400e;
  border: 1px solid #facc15;
}

.Toastify__toast--info {
  background: #e0f2fe;
  color: #075985;
  border: 1px solid #38bdf8;
}

